

@import './scss/mixins.scss';

*{
  box-sizing: border-box; padding: 0; margin: 0;
}

.my-container{
  @include container();
  background-image: url('../../public/background/background.png');
  background-size: cover;
  background-position:50%;
  @include _979 {
    &{
      height: min-content;
    }
 }    
}

