@import '../../scss/mixins.scss';

.createCar{
    width: 70%;
    height: 60vh;
    margin: 17px 0;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid #5DB75E;
    border-radius: 10px;
    transition: 0.3s;
    &:hover{
        transition: 0.3s;
        border: 2px solid #FFB400;
    }
    &__btn{
        transition: 0.4s;
        width: 180px;
        height: 45px;
        margin-top: 20px;
        background-color: #5DB75E;
        border-radius: 8px;
        @include text(#fff, 20px, 500);
        &:hover{
            transition: 0.4s;
            background-color: #FFB400;
            color: #fff;
        }
    }
    &__form{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__tittle{
        @include text(#FFB400, 30px, 600);
        margin-bottom: 20px;
    }
    &__inp{
        width: 300px;
        height: 50px;
        margin: 10px 0;
        padding-left: 10px;
        border-radius: 10px;
        background-color: inherit;
        @include text(#5DB75E, 20px, 500);
        border: 1px solid #5DB75E;
        &:focus{
            outline: none;
            border: 2px solid #999;
        }
        &::placeholder{
            color: #5DB75E;
        }
    }
    &__row{
        margin-top: 10px;
        @include row(min-content);
        min-width: 300px;
        align-items: center;
        justify-content: space-around;
    }
    &__text{
        @include text(#FFB400, 24px, 500);
        margin-bottom: 10px;
    }
    &__dateInp{
        width: 200px;
        height: 40px;
        padding: 10px;
        background-color: inherit;
        @include text(#5DB75E, 20px, 500);
        border: 1px solid #5DB75E;
        border-radius: 8px;
        &:focus{
            outline: none;
            border: 2px solid #999;
        }
        &::placeholder{
            color: #5DB75E;
        }
    }
    @include _768 {
        &{
            height: min-content;
        }
        &__row{
            flex-direction: column;
        }
        &__text{
            margin-top: 20px;
        }
     } 
     @include _600 {
        &__inp{
           width: 200px;
        }
     }  
     @include _480 {
        &__inp{
           width: 150px;
           height: 40px;
           font-size: 15px;
        }
        &__dateInp{
            width: 180px;
        }
        &__text{
            font-size: 20px;
        }
     }    
}